@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,700');
/* ------------------------------------- */
.ui.accordion .title:not(.ui) {
    color: #FFDFAA !important;
    font-size: 15px !important;
    font-family: "Kanit",sans-serif !important;
    font-weight: 400 !important;
}
.ui.item.dropdown > .text {
    color: #FFDFAA;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
    font-weight: 400 !important;
}
.ui.pointing.dropdown>.menu:after {
    background: rgba(0,0,0,.85) !important;
}
.link.item > .ui.item.dropdown > .text {
    color: #FFDFAA;
    font-size: 1em !important;
    font-family: "Kanit",sans-serif;
}
.ui.dropdown .menu>.header {
    color: #FFDFAA !important;
    font-size: 1em !important;
    font-family: "Kanit",sans-serif;
}
.ui.menu .active.item > .menu.transition {
    font-family: "Kanit",sans-serif;
    background: rgba(0,0,0,.85) !important;
    border-bottom: 1.5px solid #FFDFAA !important;
}
.ui.menu .ui.dropdown .menu>.item.dropdownColor {
    color: #FFDFAA !important;
    font-family: "Kanit",sans-serif;
}
.ui.menu .ui.dropdown .menu>.item.dropdownColor:hover {
    color: #F1B600 !important;
    font-family: "Kanit",sans-serif;
}
.ui.item.dropdown:hover > .text {
    color: #F1B600;
    font-family: "Kanit",sans-serif;
}
.ui.item.dropdown:hover > .dropdown.icon:before {
    color: #F1B600;
}
.ui.item.dropdown>.dropdown.icon:before {
    color: #FFDFAA;
}
/* ------------------------------------ */
.ui.fixed.menu.navbar {
    background-color: black;
    border-bottom: 1.5px solid #FFDFAA;
}
.ui.fixed.menu.navbar > a.item.navbarItem {
    color: #FFDFAA;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 2px;
    margin-right: 2px;
}
.ui.fixed.menu.navbar > a.item.navbarItem:hover {
    color: #F1B600;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
    border-bottom: 2px solid #F1B600;
    top: -2px;
    padding-top: 16.714px;
    padding-bottom: 14.714px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 2px;
    margin-right: 2px;
}
.ui.fixed.menu.navbar > a.active.item.navbarItem {
    color: #F1B600;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
    border-bottom: 2px solid #F1B600;
    top: -2px;
    padding-top: 16.714px;
    padding-bottom: 14.714px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 2px;
    margin-right: 2px;
}
.ui.fixed.menu.navbar > .right.menu > a.item.navbarItem {
    color: #FFDFAA;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 2px;
    margin-right: 2px;
}
.ui.fixed.menu.navbar > .right.menu > a.item.navbarItem:hover {
    color: #F1B600;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
}
.ui.fixed.menu.navbar > .right.menu > a.active.item.navbarItem {
    color: #F1B600;
    font-size: 18px;
    font-family: "Kanit",sans-serif;
}
/* ------------------------------------------------ */
.ui[class*="center aligned"].segment {
    background: rgba(28,28,35,0.85) !important;
    color: #FFDFAA;
    top: 49px;
}
.ui[class*="left aligned"].segment {
    color: #FFDFAA;
    top: 60px;
}
/* ------------------------------------------------ */
.ui.fixed.menu.footer {
    background: url('/assets/images/Footer.png');
    width: 100% !important;
    height: 158px;
    background-size: 100% 100%;
    border-top: none;
}
.ui.large.centered.image {
    top: 63px;
}
.ui.center.aligned.container {
    color: #BF955A;
    font-family: "Kanit",sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-top: 67px;
}
.ui.vertical.Layout.menu {
    width: auto !important;
    margin-top: 14px !important;
}
.ui.vertical.menu .item>.header:not(.ui) {
    color: #F1B600 !important;
    font-size: 16px !important;
    font-family: "Kanit",sans-serif !important;
    font-weight: 500 !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFDFAA;
}
.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
    color: #FFDFAA !important;
    font-size: 14px !important;
    font-family: "Kanit",sans-serif !important;
}
.ui.inverted.vertical.menu .item .menu .active.item {
    color: #F1B600 !important;
    font-size: 14px !important;
    font-family: "Kanit",sans-serif !important;
    font-weight: 400 !important;
}
p , ul , h2{
    font-family: "Kanit",sans-serif !important;
    font-weight: 400 !important;
}
.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid #F1B600 !important;
}
.ui.visible.right.overlay.sidebar {
    width: 50%;
    padding-top: 20px;
}
.ui.animating.right.overlay.sidebar {
    width: 50%;
    padding-top: 20px;
}
.ui.inverted.icon.menu .item {
    color: #FFDFAA !important;
    font-family: "Kanit",sans-serif !important;
    font-weight: 400 !important;
}
.ui.vertical.Responsive.menu {
    width: auto !important;
}
.ui.vertical.Responsive.menu > a{
    color: #FFDFAA !important;
    font-size: 14px !important;
    font-family: "Kanit",sans-serif !important;
}
.ui.inverted.Responsive.menu .active.item:hover{
    color: #F1B600 !important;
    font-size: 14px !important;
    font-family: "Kanit",sans-serif !important;
    background: 0 0 !important;
}
.ui.inverted.Responsive.menu .active.item{
    color: #F1B600 !important;
    font-size: 14px !important;
    font-family: "Kanit",sans-serif !important;
    background: 0 0 !important;
}
.ui[class*="top fixed"].menu {
    background-color: black;
}
.ui.menu .item>i.icon {
    color: #FFDFAA !important;
}

.carousel .control-dots {
    padding-left: 0;
}
.ui.left.aligned.header {
    color: #FFDFAA !important;
}

.ui.segment.feedNew {
    background: rgba(28, 28, 35, 0);
    border: 1.5px solid rgb(241, 182, 0);
}
.ui.feed>.event>.content .date {
    color: rgba(255, 223, 170, 0.6) !important;
}
.ui.gold.label, .ui.gold.labels .label {
    background-color: rgba(28, 28, 35, 0);
    border: 1px solid rgb(241, 182, 0);
    color: rgb(241, 182, 0);
}
.ui.feed>.event>.content a {
    color: #FFDFAA !important;
}
.ui.feed>.event>.content a:hover {
    color: rgb(241, 182, 0) !important;
}
.ui.feed>.event>.content a:active {
    color: rgb(241, 182, 0) !important;
}

.banner {
    margin-top: 15px;
}